{% extends '::base.html.twig' %}

{% block title %}Load reference process from .xml file{% endblock %}
{% block stylesheets %}
<style type="text/css">
hr
{
height: 5px;
background-color: green;
}
.tmargin{
margin-top: 20px;
}
.ffont{
font-family:arial;
font-size:20px;
color:black;
}
#body_div
{
margin-left: 10px;
}
</style>
{% endblock %}
{% block body %}
<script type="text/javascript">
$( document ).ready(function() {
  // Handler for .ready() called.
});
</script>
<div id="body_div">
<h1>Load reference process from file</h1>
<hr>
<h2>Select .xml file</h2>
<form action="{{ path('peds_load_rp_func') }}" method="post" class="tmargin ffont" enctype="multipart/form-data">
	<label for="file">Filename:</label>
	<input type="file" name="file" id="file"><br>
	<input type="submit" name="submit" class="tmargin" value="Submit">
</form>

</div>
{#
{% if load_res is defined %}
{{load_res}}
{% endif %}
#}
{% endblock %}