{% extends '::base.html.twig' %}

{% block title %}Remove task{% endblock %}
{% block Login %}{% endblock %}
{% block body %}
{# src/Peds/RefProcBundle/Resources/views/Default/task_remove.html.twig #}
<form action="{{ path('peds_remove_task_list') }}" id="register" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}